.product-one {
  color: rgb(240, 6, 135);
  font-size: 20px;
  text-align: start;
  flex: 1;
}
.product-data {
  margin-top: 20px;
  text-align: start;
  font-size: 16px;

  margin-bottom: 8px;
  font-family: "SourceSansPro-Semibold", sans-serif;
}
.prod-title {
  text-align: start;
}

.card-footer {
  font-size: 12px;
  background-color: #f0f0f0;
}
.prod-1 {
  font-family: "Source Sans Pro,sans-serif";
  color: darkblue;
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}
